<form id= "newPoll">
  <label for="title">Title</label>
  <input type="text" name="poll[title]" id="title">
  <br>

  <ul id="questions">
    <% var count = 0 %>
    <% questions = poll.get("questions") %>
    <% if (questions) { %>
      <% questions.forEach(function (question) { %>
        <%= JST["polls/question"] ({question: question, i: count+1}) %>
        <% count += 1 %>
      <% }); %>
    <% } %>
  </ul>

  <input type="button" value="Add A Question"
                       id="addAnotherQuestion"
                       data-question-number="0">

  <input type="button" id="submitForm" value="Create Poll!">
</form>