<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to PollCheetah!</title>
  </head>

  <body>
    <div class="container">
      <form id="signUp" class="form-signin">
        <h3 class="form-signin-heading">&nbsp; Welcome to PollCheetah!</h2>
        <div id="errors"></div>
        <input type="text" name="user[email]" class="form-control" placeholder="Email address" autofocus>
        <input type="password" name="user[password]" class="form-control" placeholder="Password">
        <button id="submitForm" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
    </div>
  </body>
</html>