// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 55px;
  padding-bottom: 20px;
}

.errorClass { 
  border:  1px solid red;
}