<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PollCheetah</a>
    </div>
    <div class="navbar-collapse collapse">
      <% if (PollCheetah.currentUser.id) { %>
        <ul class="nav navbar-nav">
          <li>
            <a href="#/users/<%= PollCheetah.currentUser.id %>">
              My polls
            </a>
          </li>
          <li>
            <a href="#polls/new">
              Create new poll
            </a>
          </li>
          <li>
            <a id="logOut" href="logOut">
              Log out
            </a>
          </li>
        </ul>
      <% } else { %>
        <ul class="nav navbar-nav">
          <li>
            <a href="#users/new">
              Sign up
            </a>
          </li>
          <li>
            <a id="logInAsGuest" href="">
              One-click guest login
            </a>
          </li>
        </ul>
        <form id="logMeIn" class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" id="email" name="user[email]" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" id="password" name="user[password]" placeholder="Password" class="form-control">
          </div>
          <button id="logIn" class="btn btn-success">Log in</button>
        </form>
      <% } %>
    </div><!--/.navbar-collapse -->
  </div>
</div>