<h1>Your polls</h1>

<ul class="polls">
  <% polls.forEach(function (poll) { %>
    <li class="poll">
      <a href="#/poll/<%= task.id %>"><%= poll.escape("title") %></a>
    </li>
  <% }); %>
</ul>

<% if (!polls) { %>
  <p>None yet. Let's get started!</p>
<% } %>

<a href="#/polls/new">Create new poll</a>