<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>PollCheetah Home Page</title>
  </head>

  <body style="background-color:#000000;">

    <div class="jumbotron">
      <div class="container">
        <h1>Beautiful, Real-time Polling</h1>
        <br>
          <div class="row">
            <div class="col-lg-3">
              <img src="http://theparalegalsociety.files.wordpress.com/2011/08/person-typing.jpg" width="180px" height="120px">
              <br>
              <h2>Create a poll</h2>
              <p>With our dead-simple form, you'll have your poll ready in seconds.</p>
              <p><a id="tryItOut" class="btn btn-default btn-lg" href="#">Make your own poll</a></p>
            </div>
            <div class="col-lg-3">
              <img src="http://www.norcorp.com/Portals/60349/images//Kyocera-cellphone.jpg" width="120px" height="120px">
              <br>
              <h2>Collect votes</h2>
              <p>Your audience texts in their votes. We count them for you.</p>
              <p><a id="tryItOut" class="btn btn-default btn-lg" href="#">Vote on a poll</a></p>
            </div>
            <div class="col-lg-3">
              <div id="sample_pie_graph" class="pie_graph"></div>
              <h2>View results</h2>
              <p>No need to refresh - results update live, in full color.</p>
              <p><a class="btn btn-default btn-lg" href="#">See poll results</a></p>
            </div>
          </div>
      </div>
    </div>

   
      <hr>

      <footer>
        <p>&copy; PollCheetah 2013</p>
      </footer>
    </div>
  </body>
</html>
