<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Jumbotron Template for Bootstrap</title>
  </head>

  <body>

    <div class="jumbotron">
      <div class="container">
        <h1>Beautiful, Real-time Polling</h1>
        <p>1. You create a poll.</p>
        <p>2. Your audience texts in their votes.</p>
        <p>3. PollCheetah displays the results in colorful charts.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Create a poll in seconds</h2>
          <p>With PollCheetah's dead-simple form, you'll have your poll ready as fast as you can type.</p>
          <p><a id="tryItOut" class="btn btn-default" href="#">Try it out</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Lightning-quick results</h2>
          <p>No need to refresh - results update automatically as your audience texts in their votes. See for yourself!</p>
          <p><a class="btn btn-default" href="#">Vote on a random poll</a></p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; PollCheetah 2013</p>
      </footer>
    </div>
  </body>
</html>
