<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PollCheetah Home Page</title>
  </head>

  <body>

    <div class="jumbotron">
      <div class="container">
        <h1>&nbsp; Beautiful, Real-time Polling</h1>
        <br>
          <div class="row text-center">
            <div class="col-lg-3">
              <img src="/images/bluedude.png" width="180px" height="120px">
              <br>
              <h2 class="text-center">Create a poll</h2>
              <p class="text-center">With our dead-simple form, you'll have your poll ready in seconds.</p>
            </div>
            <div class="col-lg-3">
              <img src="/images/phone.png" width="120px" height="120px">
              <br>
              <h2 class="text-center">Collect votes</h2>
              <p class="text-center">Your audience texts in their votes. We count them for you.</p>
            </div>
            <div class="col-lg-3">
              <div id="sample_pie_graph" class="pie_graph"></div>
              <h2 class="text-center">View results</h2>
              <p class="text-center">No need to refresh! As votes come in, results update live, in <a href="#" id="newColors">full color</a>.</p>
            </div>
          </div>
<!--         <div class="row text-center">
          <div class="col-sm-5 col-sm-offset-2">
            <h3><strong>Let's get started!</strong></h3>
          </div>
        </div> -->
        <h6>&nbsp;</h6>
        <div class="row text-center">
          <div class="col-sm-5 col-sm-offset-2">
            <a id="tryItOut" class="btn btn-success btn-lg" href="#" data-inline="true">Make your own poll</a>
            <span>&nbsp; &nbsp;</span>
            <a class="btn btn-danger btn-lg" href="#polls/<%=Math.ceil(Math.random()*19) %>" data-inline="true">Vote on a poll</a>
          </div>
        </div>
      </div>
    </div>

   
      <hr>

      <footer>
        <p>&copy; PollCheetah 2013</p>
      </footer>
    </div>
  </body>
</html>
